@{
    ViewData["Title"] = "Erreur";
}

@if (TempData["ErrorTitle"] != null)
{
    <div class="text-center">
        <h2>@TempData["ErrorTitle"]</h2>
        <p>@TempData["ErrorMessage"]</p>
    </div>
}

